.formAdmin {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  margin-top: 40px;
  gap: 20px;
  width: 100%;
}

.formAdmin button {
  background-color: orangered;
  margin: 0;
}

.formAdmin input {
  width: 100%;
  border: none;
  border-bottom: 1px solid orangered;
  padding: 10px 10px;
}
